<html ng-app="JSONApp">
<head>
	<meta charset="utf-8"/>
	<title>createJSON.io</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="JSONController">
	<hgroup>
		<h2>{{textHome}}</h2>
	</hgroup>

	<section ng-hide="setNumberOfFields">
		<form ng-submit="submit()">
			<input type="number" ng-model="numberOfFields" class="fields" min="1" placeholder="How many fields JSON will have?" required>
			<br>
			<p class="errorMessage" ng-hide="showMessageError">{{errorMessage}}</p>
			<input type="submit" value="Submit" class="submitButton">
		</form>
	</section>

	<section ng-hide="blankFields">
		<form name="myForm" ng-submit="submit2()">
			<input type="text" class="fields" ng-repeat="field in fields" name="{{field}}" placeholder="Type the attribute name {{$index + 1}} here" required>
			<br>
			<p class="errorMessage" ng-hide="showMessageError">{{errorMessage}}</p>
			<input type="submit" value="Submit" class="submitButton">
		</form>
	</section>

	<section ng-hide="fillFields" ng-submit="submit3()">
		<form name="myForm2">
			<input type="text" class="fields" ng-repeat="field in allFields" name="{{field}}" placeholder="Type the {{field}} here" required>
			<br>
			<input type="submit" value="Submit" class="submitButton">
			<input type="reset" value="Increase JSON" class="submitButton">
		</form>
	</section>

	<section ng-hide="textAreaWithJSON">
		<textarea id="jsonFormatted" ng-bind="showJSON" placeholder="You will see your JSON here." disabled>
		</textarea>
	</section>
</body>
</html>
